<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furniture Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header class="main-header">
    <div class="logo">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Sofa Zone Logo">
        <div class="underline"></div>
    </div>

    <nav class="nav">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('products') }}">Shop</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('contact') }}">Contact</a>
    </nav>
</header>

<header class="products-header">
    <h2>Our Products:</h2>
</header>

<section class="products">

    <a href="{{ url_for('product') }}?id=lizbona-fotel" class="product">
        <img src="{{ url_for('static', filename='lizbona-armchair.png') }}" alt="Lizbona Armchair">
        <h2>Lizbona Armchair</h2>
        <p>€670</p>
    </a>,

    <a href="{{ url_for('product') }}?id=cayenne_armchair" class="product">
        <img src="{{ url_for('static', filename='cayenne_armchair.png') }}" alt="Cayenne Armchair">
        <h2>Cayenne Armchair</h2>
        <p>€680</p>
    </a>,

    <a href="{{ url_for('product') }}?id=macan_armchair" class="product">
        <img src="{{ url_for('static', filename='macan_armchair.png') }}" alt="Macan Armchair">
        <h2>Macan Armchair</h2>
        <p>€680</p>
    </a>,

    <a href="{{ url_for('product') }}?id=matera_armchair" class="product">
        <img src="{{ url_for('static', filename='matera_armchair.png') }}" alt="Matera Armchair">
        <h2>Matera Armchair</h2>
        <p>€615</p>
    </a>,

    <a href="{{ url_for('product') }}?id=latina_armchair" class="product">
        <img src="{{ url_for('static', filename='latina_armchair.png') }}" alt="Latina Armchair">
        <h2>Latina Armchair</h2>
        <p>€520</p>
    </a>,

    <a href="{{ url_for('product') }}?id=szezlong" class="product">
        <img src="{{ url_for('static', filename='szezlong.png') }}" alt="Szezlong Armchair">
        <h2>Szezlong Armchair</h2>
        <p>€920</p>
    </a>,

    <a href="{{ url_for('product') }}?id=relax" class="product">
        <img src="{{ url_for('static', filename='relax.png') }}" alt="Relax Armchair">
        <h2>Relax Armchair</h2>
        <p>€700</p>
    </a>,

    <a href="{{ url_for('product') }}?id=spello_armchair" class="product">
        <img src="{{ url_for('static', filename='spello_armchair.png') }}" alt="Spello Armchair">
        <h2>Spello Armchair</h2>
        <p>€240</p>
    </a>,

    <a href="{{ url_for('product') }}?id=akaso_armchair" class="product">
        <img src="{{ url_for('static', filename='akaso_armchair.png') }}" alt="Akaso Armchair">
        <h2>Akaso Armchair</h2>
        <p>€642</p>
    </a>


</section>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-col">
            <h3>Sofa Zone</h3>
            <p>
                At Sofa Zone, we bring comfort and style together.
                Discover high-quality sofas designed to elevate your living space
                with modern elegance and lasting durability.
            </p>
        </div>

        <div class="footer-col">
            <h3>Info</h3>
            <ul>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="#">Delivery & Returns</a></li>
                <li><a href="{{ url_for('terms_conditions') }}">Terms & Conditions</a></li>
                <li><a href="{{ url_for('privacy') }}">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h3>Contact</h3>
            <p>Phone: +353 89 420 7408</p>
            <p>Email: contact.sofazone@gmail.com</p>
            <p>Address: Unit 120, Millennium trade Park, Millennium Business Park, Cappagh Road, Dublin 22, D11 HY92</p>
            <p>Mon–Sat: 10am – 6pm</p>
            <p>Sun: 10am – 5pm</p>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2026 Sofa Zone. All rights reserved.</p>
    </div>
</footer>

</body>
</html>