<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furniture Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header class="main-header">
    <div class="logo">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Sofa Zone Logo">
        <div class="underline"></div>
    </div>

    <nav class="nav">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('products') }}">Shop</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('contact') }}">Contact</a>
    </nav>
</header>


<section class="homepage">
<h2> Our Categories:</h2>

<div class="categories">
  <a href="{{ url_for('corner_sofas') }}" class="category">
    <img src="{{ url_for('static', filename='tokio.png') }}" alt="Sofa_3">
    <h3>Corner Sofas</h3>
  </a>

  <a href="{{ url_for('products') }}" class="category">
    <img src="{{ url_for('static', filename='lizbona-2ppl.png') }}" alt="Sofa_2">
    <h3>All Sofas</h3>
  </a>

  <a href="{{ url_for('sofa_beds') }}" class="category">
    <img src="{{ url_for('static', filename='boston.png') }}" alt="Sofa_1">
    <h3>Sofas </h3>
  </a>

  <a href="{{ url_for('armchairs') }}" class="category">
    <img src="{{ url_for('static', filename='lizbona-armchair.png') }}" alt="Sofa_1">
    <h3>Armchairs</h3>
  </a>
</div>
</section>

<header class="products-header">
    <h2>Corner Sofas:</h2>
</header>

<section class="products">
    <!-- CORNER SOFAS -->

<a href="{{ url_for('product') }}?id=lizbona-l" class="product">
    <img src="{{ url_for('static', filename='lizbona-1.png') }}" alt="Lizbona I">
    <h2>Lizbona I</h2>
    <p>€1880</p>
</a>

<a href="{{ url_for('product') }}?id=lizbona-ll" class="product">
    <img src="{{ url_for('static', filename='lizbona-2.png') }}" alt="Lizbona II">
    <h2>Lizbona II</h2>
    <p>€2159</p>
</a>

<a href="{{ url_for('product') }}?id=rio" class="product">
    <img src="{{ url_for('static', filename='rio.png') }}" alt="Rio">
    <h2>Rio</h2>
    <p>€2180</p>
</a>

<a href="{{ url_for('product') }}?id=ottawa" class="product">
    <img src="{{ url_for('static', filename='ottawa.png') }}" alt="Ottawa">
    <h2>Ottawa</h2>
    <p>€2290</p>
</a>

<a href="{{ url_for('product') }}?id=bari" class="product">
    <img src="{{ url_for('static', filename='bari.png') }}" alt="Bari">
    <h2>Bari</h2>
    <p>€1680</p>
</a>

<a href="{{ url_for('product') }}?id=tokio" class="product">
    <img src="{{ url_for('static', filename='tokio.png') }}" alt="Tokio">
    <h2>Tokio</h2>
    <p>€2220</p>
</a>

<a href="{{ url_for('product') }}?id=malmo" class="product">
    <img src="{{ url_for('static', filename='malmo.png') }}" alt="Malmo">
    <h2>Malmo</h2>
    <p>€1620</p>
</a>

<a href="{{ url_for('product') }}?id=lyon" class="product">
    <img src="{{ url_for('static', filename='lyon.png') }}" alt="Lyon">
    <h2>Lyon</h2>
    <p>€1820</p>
</a>

<a href="{{ url_for('product') }}?id=togo_box_right" class="product">
    <img src="{{ url_for('static', filename='togo_box_right.jpg') }}" alt="Togo Box">
    <h2>Togo Box</h2>
    <p>€2780</p>
</a>

<a href="{{ url_for('product') }}?id=genua" class="product">
    <img src="{{ url_for('static', filename='genua.png') }}" alt="Genua">
    <h2>Genua</h2>
    <p>€1490</p>
</a>

<a href="{{ url_for('product') }}?id=sofia_corner" class="product">
    <img src="{{ url_for('static', filename='sofia_corner.png') }}" alt="Sofia Corner">
    <h2>Sofia Corner</h2>
    <p>€2100</p>
</a>

<a href="{{ url_for('product') }}?id=genewa_corner" class="product">
    <img src="{{ url_for('static', filename='genewa_corner.png') }}" alt="Genewa Corner">
    <h2>Genewa Corner</h2>
    <p>€2295</p>
</a>

<a href="{{ url_for('product') }}?id=vertigo_corner" class="product">
    <img src="{{ url_for('static', filename='vertigo.png') }}" alt="Veritgo Corner">
    <h2>Veritgo Corner</h2>
    <p>€2300</p>
</a>

<a href="{{ url_for('product') }}?id=toronto_corner" class="product">
    <img src="{{ url_for('static', filename='toronto_corner.png') }}" alt="Toronto Corner">
    <h2>Toronto Corner</h2>
    <p>€2150</p>
</a>

<a href="{{ url_for('product') }}?id=yoko_corner" class="product">
    <img src="{{ url_for('static', filename='yoko_corner.png') }}" alt="Yoko Corner">
    <h2>Yoko Corner</h2>
    <p>€1500</p>
</a>

<a href="{{ url_for('product') }}?id=olsen_corner" class="product">
    <img src="{{ url_for('static', filename='olsen_corner.png') }}" alt="Olsen Corner">
    <h2>Olsen Corner</h2>
    <p>€1490</p>
</a>

<a href="{{ url_for('product') }}?id=napoli" class="product">
    <img src="{{ url_for('static', filename='napoli.png') }}" alt="Napoli">
    <h2>Napoli</h2>
    <p>€2349</p>
</a>

<a href="{{ url_for('product') }}?id=pori_corner" class="product">
    <img src="{{ url_for('static', filename='pori.png') }}" alt="Pori Corner">
    <h2>Pori Corner</h2>
    <p>€1640</p>
</a>

<a href="{{ url_for('product') }}?id=mediolan_corner" class="product">
    <img src="{{ url_for('static', filename='mediolan.png') }}" alt="Mediolan Corner">
    <h2>Mediolan Corner</h2>
    <p>€1899</p>
</a>

<a href="{{ url_for('product') }}?id=bergamo_corner" class="product">
    <img src="{{ url_for('static', filename='bergamo.png') }}" alt="Bergamo Corner">
    <h2>Bergamo Corner</h2>
    <p>€1900</p>
</a>

<a href="{{ url_for('product') }}?id=tuscany" class="product">
    <img src="{{ url_for('static', filename='tuscany.png') }}" alt="Tuscany Corner">
    <h2>Tuscany Corner</h2>
    <p>€</p>
</a>

<a href="{{ url_for('product') }}?id=venice" class="product">
    <img src="{{ url_for('static', filename='venice.png') }}" alt="Venice Corner">
    <h2>Venice Corner</h2>
    <p>€1800</p>
</a>

<a href="{{ url_for('product') }}?id=torino" class="product">
    <img src="{{ url_for('static', filename='torino.png') }}" alt="Torino Corner">
    <h2>Torino Corner</h2>
    <p>€1890</p>
</a>

<a href="{{ url_for('product') }}?id=oslo" class="product">
    <img src="{{ url_for('static', filename='oslo.png') }}" alt="Oslo Corner">
    <h2>Oslo Corner</h2>
    <p>€1600</p>
</a>

<a href="{{ url_for('product') }}?id=murano" class="product">
    <img src="{{ url_for('static', filename='murano.png') }}" alt="Murano Corner">
    <h2>Murano Corner</h2>
    <p>€1910</p>
</a>

<a href="{{ url_for('product') }}?id=carerra_corner" class="product">
    <img src="{{ url_for('static', filename='carerra_corner.png') }}" alt="Carerra Corner">
    <h2>Carerra Corner</h2>
    <p>€1430</p>
</a>

<a href="{{ url_for('product') }}?id=kama" class="product">
    <img src="{{ url_for('static', filename='kama.png') }}" alt="Kama Corner">
    <h2>Kama Corner</h2>
    <p>€1050</p>
</a>


<a href="{{ url_for('product') }}?id=korfu" class="product">
    <img src="{{ url_for('static', filename='korfu.png') }}" alt="Korfu Corner">
    <h2>Korfu Corner</h2>
    <p>€___</p>
</a>

<a href="{{ url_for('product') }}?id=mataro" class="product">
    <img src="{{ url_for('static', filename='mataro.png') }}" alt="Mataro Corner">
    <h2>Mataro Corner</h2>
    <p>€1840</p>
</a>

<a href="{{ url_for('product') }}?id=bodo" class="product">
    <img src="{{ url_for('static', filename='bodo.png') }}" alt="Bodo Corner">
    <h2>Bodo Corner</h2>
    <p>€1530</p>
</a>

<a href="{{ url_for('product') }}?id=spello_corner" class="product">
    <img src="{{ url_for('static', filename='spello_corner.png') }}" alt="Spello Corner">
    <h2>Spello Corner</h2>
    <p>€2330</p>
</a>

<a href="{{ url_for('product') }}?id=nevada" class="product">
    <img src="{{ url_for('static', filename='nevada.png') }}" alt="Nevada Corner">
    <h2>Nevada Corner</h2>
    <p>€2246</p>
</a>

<a href="{{ url_for('product') }}?id=lahti" class="product">
    <img src="{{ url_for('static', filename='lahti.png') }}" alt="Lahti Corner">
    <h2>Lahti Corner</h2>
    <p>€2150</p>
</a>

<a href="{{ url_for('product') }}?id=akaso_1" class="product">
    <img src="{{ url_for('static', filename='akaso_1.png') }}" alt="Akaso I Corner">
    <h2>Akaso I Corner</h2>
    <p>€1310</p>
</a>

<a href="{{ url_for('product') }}?id=akaso_2" class="product">
    <img src="{{ url_for('static', filename='akaso_2.png') }}" alt="Akaso II Corner">
    <h2>Akaso II Corner</h2>
    <p>€1350</p>
</a>

<a href="{{ url_for('product') }}?id=akaso_miz_l" class="product">
    <img src="{{ url_for('static', filename='akaso_mix_l.png') }}" alt="Akaso Mix L">
    <h2>Akaso Mix L</h2>
    <p>€1990</p>
</a>

<a href="{{ url_for('product') }}?id=espo" class="product">
    <img src="{{ url_for('static', filename='espo.png') }}" alt="Espo Corner">
    <h2>Espo Corner</h2>
    <p>€2220</p>
</a>

<a href="{{ url_for('product') }}?id=vertigo_2" class="product">
    <img src="{{ url_for('static', filename='vertigo_2.png') }}" alt="Vertigo Corner">
    <h2>Vertigo Corner 2</h2>
    <p>€2100</p>
</a>

<a href="{{ url_for('product') }}?id=gordon" class="product">
    <img src="{{ url_for('static', filename='gordon.png') }}" alt="Gordon Corner">
    <h2>Gordon Corner</h2>
    <p>€2090</p>
</a>



</section>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-col">
            <h3>Sofa Zone</h3>
            <p>
                At Sofa Zone, we bring comfort and style together.
                Discover high-quality sofas designed to elevate your living space
                with modern elegance and lasting durability.
            </p>
        </div>

        <div class="footer-col">
            <h3>Info</h3>
            <ul>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('delivery_returns') }}">Delivery & Returns</a></li>
                <li><a href="{{ url_for('terms_conditions') }}">Terms & Conditions</a></li>
                <li><a href="{{ url_for('privacy') }}">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h3>Contact</h3>
            <p>Phone: +353 89 420 7408</p>
            <p>Email: contact.sofazone@gmail.com</p>
            <p>Address: Unit 120, Millennium trade Park, Millennium Business Park, Cappagh Road, Dublin 22, D11 HY92</p>
            <p>Mon–Sat: 10am – 6pm</p>
            <p>Sun: 10am – 5pm</p>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2026 Sofa Zone. All rights reserved.</p>
    </div>
</footer>

</body>
</html>
